pandas
numpy
matplotlib
seaborn
scikit-learn
scipy
statsmodels
catboost
imbalanced-learn
nltk
natasha
pymorphy3
stop-words
wordcloud
torch
transformers
selenium
webdriver-manager
beautifulsoup4
openpyxl
